
.showX{
  @apply overflow-hidden overflow-x-scroll;
}
/* 滑轮样式 */
.showX::-webkit-scrollbar {
  height: 0;
}

.showX::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0);
}
.showY{
  @apply overflow-hidden overflow-y-scroll;
}
/* 滑轮样式 */
.showY::-webkit-scrollbar {
  height: 0;
}

.showY::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0);
}
.short{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.hand{
  @apply cursor-pointer;
}
.hint{
  --el-message-min-width: auto !important;
}
@media screen and (max-width: 768px) {
  .xshidden {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mdhidden {
    display: none !important;
  }
}
.state{
  @apply flex items-center;
}