
.showX{
  @apply overflow-hidden overflow-x-scroll;
}
/* 滑轮样式 */
.showX::-webkit-scrollbar {
  height: 0px;
}

.showX::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0);
}
.short{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.hand{
  @apply cursor-pointer;
}
.hint{
  --el-message-min-width: auto !important;
}
div{
  user-select:none;
  -ms-user-select:none; // IE
  -moz-user-select:none; // 火狐
  -khtml-user-select:none; // 早期浏览器
  -webkit-user-select:none;
}
@media screen and (max-width: 768px) {
  .xshidden {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mdhidden {
    display: none !important;
  }
}