
@font-face {
  font-family: huawei-black;
  src: static('/assets/font/HarmonyOS_Sans_SC_Black.ttf');
}
@font-face {
  font-family: huawei-bold;
  src: static('/assets/font/HarmonyOS_Sans_SC_Bold.ttf');
}
@font-face {
  font-family: huawei-light;
  src: static('/assets/font/HarmonyOS_Sans_SC_Light.ttf');
}
@font-face {
  font-family: huawei-medium;
  src: static('/assets/font/HarmonyOS_Sans_SC_Medium.ttf');
}
@font-face {
  font-family: HarmonyOS-regular;
  src: static('/assets/font/HarmonyOS_Sans_SC_Regular.ttf');
}
@font-face {
  font-family: huawei-thin;
  src: static('/assets/font/HarmonyOS_Sans_SC_Thin.ttf');
}

.huawei-black{
  font-family: huawei-black;
}
.huawei-bold{
  font-family: huawei-bold;
}
.huawei-light{
  font-family: huawei-light;
}
.huawei-medium{
  font-family: huawei-medium;
}
.huawei-regular{
  font-family: huawei-regular;
}
.huawei-thin{
  font-family: huawei-thin;
}

