/**
 * @file icon font
 * @author svon.me@gmail.com
 */

@use "sass:math";

.icon-font{
  display: inline-block;
}
i {
  &.icon-font {
    font-style: normal;
    line-height: 0;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    fill: currentColor;
    overflow: hidden;
    & > svg {
      width: 1em;
      height: 1em;
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@mixin size($number) {
  @if unitless($number) {
    $number: $number * 1px;
  }
  &.icon-font {
    font-size: $number;
  }
  &:not(.icon-font) {
    &:not(.icon-vip1) {
      /*
       width: $number;
       max-width: $number;
      */
      min-width: $number;
      height: $number;
      max-height: $number;
      min-height: $number;
    }
  }
  &.rounded {
    border-radius: math.floor(math.div($number, 2));
    @apply overflow-hidden;
  }
}
/*
  快速生成一批尺寸 6，8，10,,,60
*/

.kd-ui-icon {
  .icon-loading {
    transform-origin: 50% 50%;
    animation: rotating 0.7s linear infinite;
  }
  .icon-new {
    width: 33px;
    height: 15px;
  }

  .icon-plus {
    @include size(42px);
  }

  .icon-circle {
    border-radius: 50%;
  }

  .icon-border {
    /*
    @apply border border-solid border-global-border;
    */
  }
  .icon-star {
    /* 选中 */
    &.bright {
      /* @apply text-global-primary; 蓝色*/
      @apply text-global-gemstone;
    }
  }
  .icon-vip1 {
    width: 31px;
    height: 18px;
  }
  img {
    max-width: initial;
  }
}

@for $index from 6 through 80 {
  @if ($index % 2 == 0) {
    .kd-ui-icon .size-#{$index} {
      @include size($index);
    }
  }
}
