/**
 * @file 全局样式
 * @author svon.me@gmail.com
 */

@import "./function";
/* icon font 相关样式 */
@import "./iconfont";
@import "./decorate";
@import "./markdown";
@import "./screen";
@import "./font";
@import "./base";
@import "./reset";

html, body {
  background-color: white;
}

body {
  -webkit-overflow-scrolling: touch;

  @for $i from 1 through 10 {
    .line-clamp-#{$i} {
      @include clamp($i);
    }
  }
}
%disable {
  &.disable {
    @apply cursor-default;
    @at-root .ui-pagination & {
      cursor: not-allowed;
      color: #a8abb2;
    }
  }
}
a {
  &.link {
    @apply cursor-pointer;
    @apply text-global-darkblue;
  }
  @extend %disable;
}
.v-router {
  @extend %disable;
}


.device {
  &.web, &.app {
    @at-root #app & {
      @apply block;
    }
  }
  &.web {
    .is-app {
      @apply hidden;
    }
  }
  &.app {
    .is-web {
      @apply hidden;
    }
    .top-header {
      top: 0 !important;
    }
  }
}

.clearfix {
  zoom: 1;
  &:after {
    content: "";
    @apply block;
    @apply clear-both;
  }
}

/* 富文本内容 */
.whitespace-pre-line,
.whitespace-pre-wrap,
.whitespace-pre{
  word-break: break-word;
  @apply break-words max-w-full;
  a {
    @apply text-global-darkblue;
  }
  img {
    border: 0 !important;
    max-width: 100% !important;
  }
}

/* 边框 - bottom */
.shadow-border-b {
  box-shadow: 0 1px 0 rgba(3, 54, 102, 0.06);
}
.w-fit {
  width: fit-content;
}

.blog-content {
  img {
    @apply block w-full;
    max-width: 100% !important;
  }
}

