/**
 * @file 全局样式
 * @author svon.me@gmail.com
 */

@import "./function";
/* icon font 相关样式 */
@import "./iconfont";
@import "./decorate";
@import "./markdown";
@import "./screen";
@import "./font";
@import "./base";
@import "./reset";

html, body {
  background-color: white;
}

@mixin clamp($number: 1) {
  .line-clamp-#{$number} {
    display: -webkit-box ;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
  }
}

body {
  -webkit-overflow-scrolling: touch;

  @for $i from 1 through 10 {
    @include clamp($i);
  }
}

a {
  &.link {
    @apply cursor-pointer;
    @apply text-global-darkblue;
  }
}


.device {
  @apply hidden;
  &.web {
    @apply block;
    .is-app {
      @apply hidden;
    }
  }
  &.app {
    @apply block;
    .is-web {
      @apply hidden;
    }
  }
}

.clearfix {
  zoom: 1;
  &:after {
    content: "";
    @apply block;
    @apply clear-both;
  }
}
