/**
  @file 重置某些样式
 */

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  @at-root .el-input & {
    border: var(--el-input-border, var(--el-border-base));
  }
}

.el-input {
  .el-input__prefix {
    .el-input__prefix-inner {
      @apply items-center;
    }
  }
}

.el-popover {
  &.ui-hover {
    @apply p-0;
    min-width: initial;
  }
}

/* 手机登录页面 */
.user-mobile-box {
  .el-input-group__prepend {
    input {
      @apply rounded-l;
      @apply bg-white;
      height: 38px;
    }
  }
}

.ui-tab {
  .tab-wrap {
    .el-select {
      .el-input__inner {
        border-width: 0 !important;
        background: transparent !important;
        border-color: transparent !important;
      }
    }
  }
}

/* 重置登录框某些样式 */
.dialog-user-wrap {
  width: 400px !important;
  @screen md{
    width: 350px !important;
    margin-top: 7vh;
  }
  .el-dialog__body {
    @apply pt-0;
  }

  .el-tabs__header {
    @apply text-center;
    .el-tabs__nav-wrap {
      @apply inline-block;
    }
    .el-tabs__item{
      @apply text-global-noSelect;
      &.is-active {
        @apply text-global-primary;
      }
    }
  }
}

/* swiper 样式重置 */
.swiper-loop-wrap {
  .swiper-slide {
    width: fit-content !important;
  }
}
