/**
  @file 重置某些样式
 */

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  @at-root .el-input & {
    border: var(--el-input-border, var(--el-border-base));
  }
}

.el-input {
  .el-input__prefix {
    .el-input__prefix-inner {
      @apply items-center;
    }
  }
}

.el-button {
  &.el-button--large {
    --el-button-size: 2.75rem;
  }
}

.el-message-box {
  @apply max-w-81;
}

.el-popper {
  &.el-dropdown__popper {
    &.ui-label-dropdown {
      z-index: 101 !important;
    }
  }

  &:not(.header-user) {
    &.ui-hover {
      z-index: 102 !important;
    }
  }
}

.el-popover {
  &.ui-hover {
    @apply p-0;
    min-width: initial;

    &.rounded {
      @apply p-2;
      @apply rounded-kd100px;
    }
  }
}

/* 手机登录页面 */
.user-mobile-box {
  .el-input-group__prepend {
    input {
      @apply rounded-l;
      @apply bg-white;
      height: 38px;
    }
  }
}

.ui-tab {
  .tab-wrap {
    .el-select {
      .el-input__inner {
        border-width: 0 !important;
        background: transparent !important;
        border-color: transparent !important;
      }
    }
  }
}
.el-dialog {
  &.no-header {
    .el-dialog__header {
      @apply pb-0;
    }
  }
}

/* 重置登录框某些样式 */
.dialog-user-wrap {
  width: 80% !important;
  max-width: 350px !important;
  @screen md {
    margin-top: 7vh;
  }
  .el-dialog__body {
    @apply pt-0;
  }

  .el-tabs__header {
    @apply text-center;
    .el-tabs__nav-wrap {
      @apply inline-block;
    }

    .el-tabs__item {
      @apply text-global-noSelect;
      &.is-active {
        @apply text-global-primary;
      }
    }
  }
}

/* swiper 样式重置 */
.swiper-loop-wrap {
  .swiper-slide {
    width: fit-content !important;
  }
}

/* 关注 */
.follow-custom {
  width: fit-content !important;
  @apply p-4;
  .el-message-box__header {
    @apply hidden;
  }

  .el-message-box__content {
    @apply pt-0 px-0 pb-2;
  }

  .el-message-box__btns {
    .el-button {
      @apply min-w-23;
    }
  }
}


/* 用户地址判断（是否为中国用户） */
.validate-dialog {
  width: 21rem;
  border-radius: 6px;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    padding: 0 !important;
    border-radius: 6px;
  }

  @media screen and (min-width: 375px) {
    & {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      margin-top: 25vh !important;
    }
  }
  @media screen and (max-width: 375px) {
    & {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      margin-top: 18vh !important;
    }
  }

  .tip {
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
}

/* 解决 el-popover 底部有一点空白，如果 el-popover 父元素是 flex 属性则生效 */
.flex-popover {
  @apply flex;
  & > .el-tooltip__trigger {
    @apply flex;
  }
}

/* 活动富文本内容样式重置 */
.rich-text {
  font-size: 1rem;
  line-height: initial;
  /* 英文单词换行 */
  word-break: break-word;
  @apply break-words;
  /* 保留换行与空格 */
  @apply whitespace-pre-wrap;

  a {
    &[href] {
      &:not([style]) {
        @apply text-global-darkblue;
      }
      @apply cursor-pointer;
    }
  }

  img {
    display: block;
    border: 0 !important;
    max-width: 100% !important;
  }

  %bold {
    @apply font-bold;
    line-height: normal;
  }
  h1 {
    font-size: 2rem;
    @extend %bold;
  }
  h2 {
    @apply text-2xl;
    @extend %bold;
  }
  h3 {
    @apply text-lg;
    @extend %bold;
  }
  h4 {
    @apply text-base;
    @extend %bold;
  }
  h5 {
    @apply text-sm;
    @extend %bold;
  }
  h6 {
    @apply text-xs;
    @extend %bold;
  }
  ol, ul {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
  }
  ol li, ul li {
    list-style: initial;
  }
}
