/**
 * @file 全屏弹窗模块
 * @author svon.me@gmail.com
 */


.el-dialog {
  /* 全屏的弹窗 */
  &.screen-dialog {
    margin: 0 !important;
    width: initial !important;
    @apply absolute;
    @apply left-15 top-15 right-15 bottom-15;
    @apply md:left-15 md:top-20 md:right-15 md:bottom-20;
    .el-dialog__header {
      @apply hidden;
    }

    .el-dialog__body {
      padding: 20px !important;
      @apply h-full;
    }
  }

  /* 去掉 dialog 一些默认内边距 */
  &.diy-dialog {
    &.hidden-header {
      .el-dialog__header {
        @apply hidden;
      }
    }

    .el-dialog__body {
      padding: 0 !important;
    }
  }
}
